@{
    ViewBag.Title = "عربة التسوق";
    if (Session["UserID"] != null)
    {
        Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    }
    else if (Session["UserID"] == null)
    {
        Layout = "~/Views/Shared/_MyLayout.cshtml";
    }
}
<head>
    <link href="~/assets/css/shoppingCart.css" rel="stylesheet" />
    <script src="~/assets/js/shoppingCart.js"></script>
</head>

<section class="CartSection" style="margin-top:90px">


    <div class="container">
        <div class="row">
            <div class="col-md-12 noItems">
                <div class="text-center" style="margin-bottom:100px">
                    <img src="~/Images/img/emptycart.svg" style="width:350px;height:380px"/>
                    <p style="font-size: 23px;">لا يوجد عناصر في السلة</p>
                    <a href="/shop/AllProducts" class="btn btn-success">اذهب للتسوق</a>
                </div>
            </div>

            <div class="col-md-8 right-section">
                <div class="shopping-cart">
                    <div class="title">
                        سلة التسوق
                    </div>
                    <div class="items">

                    </div>

                </div>

            </div>

            <div class="col-md-4 left-section">
                <div class="Total-price">
                    <h3>اجمالي المبلغ</h3>
                    <div class="card-body">
                        <ul>
                          
                            <li>المجموع <span class="currency" style="padding-right: 0px;"> جنيه </span><span class="ShipperAndAllPrice"></span></li>
                        </ul>

                        <a class="btn btn-success" id="checkoutIntBtn" onclick="Checkout()">تـابـع عـمـلـيـة الـشـراء</a>
                    </div>
                </div>

                 
            </div>
        </div>
     
    </div>


</section>

<script>
    $(document).ready(function () {
        GetUserCart();
        $('.noItems').hide();
    

    });

    function GetUserCart() {

        $.ajax({
            url: "/Cart/GetUserCart",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var defultImg = "default.png";
                var html = '';
                if (result.length == 0) {
                    $('.right-section').hide();
                    $('.left-section').hide();
                    $('.noItems').show();

                }

                $.each(result, function (key, item) {

                    html += '<div class="item">';
                    html += '<div class="buttons" onclick="DeleteFromCart(' + item.productID +')">';
                    html += '<span class="delete-btn"></span>';
                    html += '</div>';

                    html += '<div class="image">';
                    html += '<img style="width: 100px;height: 85px;" src="/Images/Products/' + item.prodImg + '" alt="" />';
                    html += '</div>';

                    html += '<div class="description">';
                    html += '<span class="prodName">' + item.prodName +'</span>';
                    html += '<span class="prodDescription">' + item.CategoryName +'</span>';
                    html += '<span class="prodColor" style="color:#827d7db0;">اسود</span>';
                    html += '</div>';

                    html += '<div class="quantity">';
                    html += '<button class="plus-btn my-btn" type="button" name="button" onclick="PlusQuantity(' + item.productID + ')">';
                    html += '<img src="/Images/img/plus.svg" alt=""/>';
                    html += '</button>';
                    html += '<input type="text" name="name" class="prodQuantity x' + item.productID +' " value="' + item.quantity +'">';
                    html += '<button class="minus-btn my-btn" type="button" name="button" onclick="MinusQuantity(' + item.productID  + ')">';
                    html += '<img src="/Images/img/minus.svg" alt="" />';
                    html += '</button>';
                    html += '</div>';
                    html += '<input type="hidden"  class="hdnPrice' + item.productID + '"  value="' + item.price + '">';
                    html += '<div class="total-price"> <span class="prodPrice prod' + item.productID + '">' + item.TotalPrice +'  </span><span class="currency">جنيه</span></div>';
                    html += '</div>';
                });
                $('.items').html(html);
                calc();
                CalcTotalPrice();
            }
        });
    }

    function PlusQuantity(prodID) {
        var value = parseInt($('.x' + prodID + '').val());
        var totalPrice = parseFloat($('.prod' + prodID + '').text());
        var prodPrice = parseFloat($('.hdnPrice' + prodID + '').val());

            if (value < 100) {
                value = value + 1;
                $('.prod' + prodID + '').text((totalPrice + prodPrice).toFixed(2));
                UpdateQuantity(prodID, value);

            } else {
                value = 100;
        }
            $('.x' + prodID + '').val(value);
            CalcTotalPrice();

    }

    function MinusQuantity(prodID) {
        var value = parseInt($('.x' + prodID + '').val());
        var totalPrice = parseFloat($('.prod' + prodID + '').text());
        var prodPrice = parseFloat($('.hdnPrice' + prodID + '').val());
            if (value > 1) {
                value = value - 1;
                $('.prod' + prodID + '').text((totalPrice - prodPrice).toFixed(2));
                UpdateQuantity(prodID, value); 

            } else {
                value = 1;
        }

            $('.x' + prodID + '').val(value);
            CalcTotalPrice();

    }

    function UpdateQuantity(prodID, value) {
        $.ajax({
            url: "/Cart/UpdateQuantity?prodID=" + prodID +
            "&newQuantity="+ value,
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {              
                if (result == "success") {
                    CountItemInCart();
                }
                else {

                }

               

            }
        });
    }

    function DeleteFromCart(prodID) {
        $.ajax({
            url: "/Cart/DeleteFromCart?prodID=" + prodID,
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result == "success") {
                    CountItemInCart();
                    GetUserCart();
                    CalcTotalPrice();
                }
                else {

                }



            }
        });
    }

    function CalcTotalPrice() {
        var price, sum = 0;
        //loop through product "blocks"
        $(".items").children().each(function () {
            price = parseFloat($(this).find('.prodPrice').text());
            //Add price to sum if number
            if (!isNaN(price)) {
                sum += price;
            }
        });
        //Update Price
        $('.ShipperAndAllPrice').text(sum.toFixed(2));
    }

    function Checkout()
    {
        var totalOrderPrice = $('.ShipperAndAllPrice').text();
        window.location.href = "/Account/Checkout?totalOrderPrice=" + totalOrderPrice +"";

    }

    function calc() {
        var re = $(".items").children().length;
      
        
    }
  
</script>