body {
}

.forgetPass-section{
    margin-top:90px;
    margin-bottom: 90px
}

.forgetPass-content{
    padding:20px;
}

.pass label {
    font-weight: 700;
    color: #7d8da5 !important;
}
.pass {
    padding: 15px;
}


.wrap {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
    margin-bottom: 80px
}

.text-wrap, .login-wrap {
    width: 50%;
}

.text-wrap {
    background: linear-gradient( 135deg, #14b127 0%, #65ad6e 100%);
    color: #fff;
}

    .text-wrap .mytext h2 {
        font-weight: 900;
        color: #fff;
        font-size: 42px;
    }

    .text-wrap .mytext p {
        color: #fff;
    }